<div class="p-5 md:p-10 flex flex-col items-center" >
    <div class="bg-slate-100 h-36 w-36 rounded-full md:h-40 md:w-40 overflow-clip" >
        <img src="https://avatars.githubusercontent.com/u/80280920?v=4" alt="Tadiwanashe Shangwa">
    </div>

    <h1 class="font-bold text-3xl my-5" >Hie There!</h1>

    <p class="px-4 text-slate-500" >
        Hello, My Name is Tadiwanashe Shangwa, I built this web app to show off some 
        of the cool features angular has by creating a simple 
        <a href="/">Counter App</a>. I really like how all variables are reactive by
        default on angular which I think is pretty cool!
    </p>
</div>
