/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(73, 73, 252);
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    transition: all 0.3s;
    font-weight: 500;
    color: blue;
}

a:hover {
    color: purple;
}